body {
  margin: 0;
  font-family: sans-serif;
  background-color: #fff;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  flex-direction: column;
}

.back-button {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  z-index: 1000;
}

.custom-book {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.single-page {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.page-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

