.controls-container {
    position: fixed;
    bottom: 40px;
    right: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1000;
}

.base-button {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    position: relative;
    transition: transform 0.2s ease;
}

.base-button:hover {
    transform: scale(1.1);
}

.out-button {
    width: 390px;
    height: 260px;
    z-index: 1;
    transform: translateX(0%);
    margin-top: 0;
    margin-right: -140px;
}

.out-button-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.map-button {
    width: 104px;
    height: 104px;
    margin-top: -117px;
    z-index: 2;
    transform: translateX(0%);
}

.map-button-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.music-button {
    width: 104px;
    height: 104px;
    margin-top: 13px;
    transform: translateX(0%);
}

.music-button-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.map-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    cursor: pointer;
}

.map-popup-image {
    max-width: 90vw;
    max-height: 90vh;
    object-fit: contain;
    cursor: default;
}


/* 모바일 화면 스타일 */
@media (max-width: 768px) {
    .controls-container {
        right: 30px;
        bottom: 15px;
        flex-direction: column;
        align-items: flex-end;
    }

    .out-button {
        width: 200px;
        height: 130px;
        margin-top: 0;
    }

    .map-button {
        width: 60px;
        height: 60px;
        margin-top: -45px;
    }

    .music-button {
        width: 60px;
        height: 60px;
        margin-top: 0;
    }
}

@media (max-width: 600px) {
    .controls-container {
        right: 15px;
        bottom: 10px;
    }
    .out-button {
        width: 200px;
        height: 130px;
        margin-top: 0;
        margin-right: -75px;
        margin-bottom: -20px;
        position: relative;
        bottom: -15px;
    }
    .map-button, .music-button {
        width: 52px;
        height: 52px;
    }
    .map-button {
        margin-top: -20px;
    }
    .music-button {
        margin-top: 0;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .controls-container {
        right: 15px;
        bottom: 20px;
    }
    .out-button {
        width: 200px;
        height: 130px;
        margin-top: 0;
        margin-right: -75px;
        margin-bottom: -35px;
    }
    .map-button {
        width: 52px;
        height: 52px;
        margin-top: -20px;
    }
    .music-button {
        width: 52px;
        height: 52px;
        margin-top: 0;
    }
} 